name: main
on: push
jobs:
  main:
    runs-on: windows-latest
    steps:
    - name: setup-msys2
      uses: msys2/setup-msys2@v2
      with:
        msystem: UCRT64
        release: false
    - name: foo
      shell: C:\msys64\usr\bin\bash.exe {0}
      run: |
        if [-f test]; then
            echo test exists
        fi
